/.idea/
.vscode/
*.iml
**/target/
/target/*
/.idea/*
/.idea/sonarlint/**

**/.DS_Store

*.apk
*.idsig
*.ipa
*.xcarchive
*.pcs
COPYRIGHT_HEADER
Jenkinsfile
*.Jenkinsfile
.gitlab
CI
*.ppcs
*.pcs
**/nginx.conf
**/.env
/test-driver-interface-server/smartcards-fdv/egk/
/test-driver-interface-server/smartcards-fdv/egk
test-driver-interface-server/smartcards-fdv/egk

